{% extends 'base.html' %}
{% block set %}
{% endblock %}

{% block body %}
           <div class="seach_info">
           <h1> {{ message }}</h1>
{#                <div class="img_div">#}
{#                    <img class="book_img" src="{{ my_books.book_img.url }}">#}
{#                </div>#}
{#                <div class="book_text">#}
{#                    <ul class="search_ul">#}
{#                        <li class="name">#}
{#                            <a class="aaa" href="#">{{ my_books.book_name }}</a>#}
{#                        </li>#}
{#                        <li class="author">#}
{#                            <a href="#">{{ book.book_author }}</a>#}
{#                        </li>#}
{#                        <li class="hot">#}
{#                            {{ book.book_hot }}#}
{#                        </li>|#}
{#                        <li class="end">#}
{#                            {{ book.get_book_end_display }}#}
{#                        </li>|#}
{#                        <li class="end">#}
{#                            <a href="#">{{ book.get_book_type_display }}</a>#}
{#                        </li>#}
{#                        <div>#}
{#                            <p>{{ book.contr_text}}</p>#}
{#                        </div>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
    </div>
{% endblock %}